places
savehist
projectile-bookmarks.eld
# Ignore tags created by etags, ctags, gtags (GNU global) and cscope
TAGS
.TAGS
!TAGS/
tags
.tags
!tags/
gtags.files
GTAGS
GRTAGS
GPATH
GSYMS
cscope.files
cscope.out
cscope.in.out
cscope.po.out
elpa
el-get
semanticdb
.cask
.ido
ido
custom.el
eshell
url
places
savefile/
bookmarks
company-statistics-cache.el
forecast-api
games/
history
ido.last
keyfreq
local.el
nrepl-history
openweathermap-api
org-clock-save.el
org-gcal/
request/
saveplace
smex-item
.emacs_workgroups
abbrev_defs
bookmarks
smex-items
